:root {
    --color__blue: #3877ee;
    --color__green: #6abf4b;
}
html {
    height: 100%;
    width: 100%;
}

.container {
    position: absolute;
    img {
        object-fit: contain;
    }
    .buttons {
        position: absolute;
        top: 30%;
        left: 30%;
        [data-secname] {
            display: flex;
            padding: 6px 15px;
            align-items: center;
            text-align: center;
            gap: 15px;
            // border-radius: 40px;
            border: 1px solid var(--, #6abf4b);
            background: #6abf4b;
            // display: flex;
            // flex-direction: column;
        }
        button {
            cursor: pointer;
            width: 40px;
            height: auto;
            border-radius: 50px;
            border: none;
            opacity: 0.7;
            color: antiquewhite;
            text-align: center;
            // align-items: center;
            font-size: 30px;
        }
        .btnBlue {
            background: var(--color__blue);
        }
        .btnGreen {
            background: var(--color__green);
        }
        .btn1 {
            position: relative;
            bottom: 63px;
            right: 83px;
        }
        .btn2 {
            position: relative;
            bottom: 212px;
            left: 800px;
        }
        .btn3 {
            position: relative;
            top: 63px;
            left: 876px;
        }
        .btn4 {
            position: relative;
            top: 160px;
            left: 514px;
        }
        .btn5 {
            position: relative;
            top: 242px;
            left: 1073px;
        }
        .btn6 {
            position: relative;
            top: 262px;
            right: 290px;
        }
        .btn7 {
            position: relative;
            bottom: 122px;
            left: 101px;
        }
        .btn8 {
            position: relative;
            bottom: 240px;
            left: 554px;
        }
        .btn9 {
            position: relative;
            top: 139px;
            left: 557px;
        }
        .btn10 {
            position: relative;
            bottom: 110px;
            left: 772px;
        }
    }
}
